:root {
    --violet-color: violet;
    --green-color: green;
    --yellow-color: yellow;
    --grey-color: grey;
    --orange-color: orange;
    --blue-color: blue;
    --red-color: red;
}

body {
    background-color: var(--violet-color);
}

.js {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tablet {
    background-color: var(--green-color);
}

#myButton {
    display: flex;
    background-color: var(--yellow-color);
    font-size: 2rem;
    font-weight: 900;
    border: none;
    padding: 1rem 2rem;
}

#connexion {
    display: flex;
    width: 30px;
}

.hidden {
    display: none;
}

.parent-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
}

.enfant-flex,
.enfant-grid {
    width: 200px;
    min-height: 200px;
    background-color: var(--red-color);
}

.parent-grid {
    display: grid;
    grid-template-columns: 200px 200px;
    column-gap: 10px;
    gap: 1rem;
    padding: 1rem;
    align-items: start;
}

@media screen and (min-width: 640px) {
    .parent-grid {
        grid-template-columns: 200px 200px 200px;
    }
}

@media screen and (min-width: 1024px) {
    .parent-flex {
        flex-direction: row;
    }
    .parent-grid {
        grid-template-columns: 200px 200px 200px 200px;
    }
}